html{
    height: 100%;
}
.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 15%;
    text-align: center;
    padding: 2px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 27px;
}

.icon-bar a:hover {
    background-color: #000;
}

body{
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Slab', serif;
}
.w3-card-4{
    text-align: center;
    padding-top:1%;
}



.w3-card-4:hover {
    text-decoration : underline;   
}

.parallax {
    
    background-image: url("background.jpg");

    min-height: 5px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
